.navBar{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding: 12px;
    border-bottom: 1px solid skyblue;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}